header {
    display: flex;
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
    align-items: center;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    justify-content: space-between;
    z-index: 5;
    width: 100%;
    background-color: white;
    margin-top: 0;
    position: fixed;
    top: 0;
    left: 0;
}


nav li {
    display: inline-block;
    padding: 10px;
}

nav ul{
    padding-right: 30px;
}

#logo {
    display: inline-flex;
    align-items: center;
    padding-left: 20px;
}

a {
    color: black;
}

header h1 {
    color: MediumAquamarine;
    font-size: 14px;
    padding-left: 10px;
}


.main {
    display: flex;
    justify-content: center;
    position: relative;
    top: 100px;
}

.main p{
    font-family: Georgia;
    font-size: 17px;
    color: black;
}

.column {
    flex-direction: column;
    margin-right: 30px;
    position: relative;
}

.column h1{
    z-index: 1;
    position: absolute;
    font-family: Georgia;
    font-weight: bold;
    font-size: 30px;
    color: white;
    text-align: center;
}

#row {
    display: inline-flex;
    justify-content: space-between;

}

.large {
    width: 650px;
}
.medium {
    width: 300px;
}

.small {
    width: 240px;
}

.story2, .story3{
    width: 308px;
    position: relative;
}

.column img {
    width: 100%;
}

#mainStory {
    font-size: 40px;
    text-align: left;
}

.story2 {
    margin-right: 30px;
}

.news h2 {
    font-size: 16px;
    font-weight: bold;
}

.news p {
    background-color: WhiteSmoke;
    font-family: Verdana;
    font-size: 12px;
    color: DimGray;
    border-bottom: 1px solid black;
    margin: 0;
    padding: 10px;
}

.footer {
    display: flex;
    background-color: MediumAquamarine;
    margin: auto;
    font-family: Verdana;
    font-size: 12px;
    top: 100px;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 150px;
    margin-top: 50px;

}

.title {
    font-family: Georgia;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border-right: 2px solid white;
    padding-right: 30px;
}

.content {
    display: block;
    text-align: center;
}
.footer span {
    margin: 20px;
}
